body {
  background-image: url("../image/speed/background.jpg");
  width: 100%;
  height: 100vh;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  overflow: hidden;
  
}
.locked {
  opacity: 0.4;
  width: 120px;
  height: 120px;
}
.unlocked {
  width: 120px;
  height: 120px;
}
.unlocked:hover {
  width: 130px;
  height: 130px;
}
#levels {
  display: flex;
  flex-direction: row-reverse;
}
main p,
h1 {
  font-size: 28px;
  text-align: center;
  font-weight: bolder;
  color: #000000f3;
  width: 48%;
  font-family: 'speed', 'basis';
}
main h1 {
  margin: auto;
  font-size: 50px;
  font-weight: bolder;
  border-bottom: 3px solid #000000f3;
  width: fit-content;
  margin-bottom: 7px;
  padding-top: 70px;
  margin-right: 20%;
}
video {
  width: 30%;
  margin-top: auto;
  margin-bottom: auto;
  border: 2px solid white;
  border-radius: 3px;
}
#instructions{
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    
}
